/* Normalization styles ===================================================== */

*, 
::before,
::after {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

a {
  color: initial;
  text-decoration: none;
}

p {
  line-height: 1.5; /* (a) */
  /* (a) Accessibility guideline per MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height */
}

/* Main styling starts here ================================================= */

html {
  font-family: "Roboto", sans-serif, var(--fallback-font-stack);

  --fallback-font-stack: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  --primary-gap-size: 10px;
  --bigger-gap-size: 20px;
  --header-and-footer-size: 3rem;
  --icon-size: calc(var(--header-and-footer-size) / 2);

  --palette-dominant: hsl(266, 46%, 41%);
  --palette-dominant-dark: hsl(266, 80%, 41%);
  --palette-accent: #939393;
  --palette-dark-gray: #636363;
  --palette-light-gray: #E2E8F0;
  --palette-transparent-white: rgba(255, 255, 255, 0.6);
}

body {

  /* Utilize flex due to dynamic amount of content in table */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ========================================================================== */

header {
  padding: var(--primary-gap-size);
  
  color: white;
  background-color: var(--palette-dominant);
  font-weight: bold;
  box-shadow: 0px 2px 11px -3px var(--palette-dark-gray);
}

header ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 150px 150px;
}

header li {
  height: var(--header-and-footer-size);
}

header a {
  height: 100%;
  display: grid;
  width: min-content;
  grid-template-columns: repeat(2, min-content);
  gap: var(--primary-gap-size);
  align-items: center;

  color: inherit;
}

header img {
  height: 75%;
}

/* ========================================================================== */

main {
  flex: 1;
  display: grid;
  gap: var(--bigger-gap-size);

  padding: var(--bigger-gap-size);
}

#greeting {
  color: var(--palette-dark-gray);
}

#main-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: var(--bigger-gap-size);
}

#main-buttons-container button {
  cursor: pointer;
  border: none;
  height: 36px;
  width: 150px;
  border-radius: calc(36px / 2);
  background-color: var(--palette-dominant);
  box-shadow: 3px 3px 6px var(--palette-light-gray);
  color: white;
  font-weight: bold;
  font-family: inherit;
  font-size: 0.8rem;
}

#main-buttons-container button:hover {
  background-color: var(--palette-dominant-dark);
}

/* ========================================================================== */


table {
  width: 80%;
  justify-self: center;

  border-collapse: collapse;
  border: 2px solid black;

  font-size: 1rem;
  letter-spacing: 1px;
}

td, th {
 border: 1px solid black;
 padding: 10px 20px;
}

tr {
  height: 3rem;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

caption {
  padding: 10px;
  color: var(--palette-dark-gray);
}

/* Style specific columns */
[headers="col-title"], 
[headers="col-author"], 
[headers="col-genre"] {
  text-transform: capitalize;
  text-wrap: balance;
}

[headers="col-pages"],
[headers="col-read"],
[headers="col-actions"] {
  text-align: center;
}

[headers="col-read"] {
  font-size: 1.5rem; 
}

#col-actions,
[headers="col-actions"] {
  /* display: none; */
}

[headers="col-actions"] button {
  width: 60px;
  font-family: inherit;
  padding: 4px;
}

[headers="col-actions"] button + button {
  margin-left: var(--primary-gap-size); 
  /* Note that converting the table cell to a flex/grid to add a gap strangely
  makes the border thicker around the cells, so margin was used instead. */
}


/* ========================================================================== */

footer {
  padding: var(--primary-gap-size);
  display: flex;
  justify-content: center;

  background-color: var(--palette-dominant);
  color: white;
}

/* ========================================================================== */


form { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

form label {
  justify-self: end;
}

form input {
  justify-self: start;
}
