form { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

form label {
    justify-self: end;
}

form input {
    justify-self: start;
}

.remove-book {

}

.read-book {
    
}

/* Properties */
/**
text-transform
*/